{% extends "layout.html" %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    {% block content %}
        <div class="mt-5">
            {% include "form.html" with submit_label="생성" %}
        </div>

        <div class="card" style="width: 100%;">
          <ul class="list-group list-group-flush">
              {% for list in lists %}
            <li class="list-group-item d-flex">
                <span class="d-flex align-items-center" style="flex-grow: 1">
                    {{list.todo}}
                </span>
                <span class="d-flex justify-content-end">
                    <a href="/update/{{list.id}}">
                        <button type="button" class="btn btn-outline-danger">수정</button>
                    </a>
                </span>
                <span class="d-flex justify-content-end mx-3">
                    <a href="/delete/{{list.id}}">
                        <button type="button" class="btn btn-outline-danger">삭제</button>
                    </a>
                </span>
            </li>
              {% endfor %}
          </ul>
        </div>

    {% endblock %}




</body>
</html>